@font-face {
    font-family: fonfon;
    src: url(Inter-Black.woff2);
 }
html {
  background: url(2.jpg) no-repeat center center; 
  background-size: cover;
  touch-action: none;
}
button {
  width: 200px;
  height: 50px;
  margin: 20px 10px;
  font-family: fonfon;
  font-size: 20px;
  font-weight: bold;
  border: 2px solid #EA4C89;
  color: #fff;
  cursor: pointer;
  position: relative;
  background-color: #ea4c89bb;
  border-radius: 25px;
  text-align: center;
  overflow: hidden;
}
img.resize {
    width:50px;
    height:auto;
    align-self: baseline;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }
#hp  {
float: left;    
margin: 0 15px 0 0;
}
.prevent-select {
-webkit-user-select: none;
-ms-user-select: none;
user-select: none;
}
.navbar{
    width: 100%;
    margin: auto;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 120px;
    cursor: default;
    filter: drop-shadow(8px 8px 5px #00000080);
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    position: relative;
}
.navbar ul li a{
    text-decoration: none;
    color: #fff;
    filter: drop-shadow(2px 2px 5px #EA4C89);
    font-size: 22px;
    text-transform: uppercase;
}
.center {
    margin: auto;
    width: 85%;
    padding: 15px 15px;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.7);
}
.noscrollbar::-webkit-scrollbar {
  display: none;
}
.noscrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.textshadow{
  filter: drop-shadow(2px 2px 5px #00000085);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
a{
  text-decoration: none;
}
.name{
  background: transparent;
  color: #ffbad4;
  filter: drop-shadow(0px 0px 10px #EA4C89);
  position: relative;
}