html,
ul,
li,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}
ol {
  padding: 15px;
}
@font-face {
  font-family: normaltext;
  src: url(sources/pc.ttf);
  font-display: auto;
}

@font-face {
  font-family: title;
  src: url(sources/title.ttf);
  font-display: auto;
}
body {
  line-height: 2;
  padding: 20px;
  color: #fff;
}

header {
  font-family: title;
  text-align: center;
  margin-bottom: 30px;
}

h1 {
  font-family: title;
  font-size: 36px;
  color: #f177a6;
  margin-bottom: 10px;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  flex-wrap: wrap;
}

nav ul li {
  margin-right: 15px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  padding: 8px 12px;
  border-radius: 4px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

nav ul li a:hover {
  background-color: #f177a6;
  color: #333;
  text-decoration: none;
}

main {
  background-color: #444;
  padding: 30px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

section {
  margin-bottom: 40px;
}

section h2 {
  color: #f177a6;
  font-size: 24px;
  margin-bottom: 15px;
}

section h3 {
  color: #caafb9;
  font-size: 20px;
  margin-bottom: 10px;
}

section p {
  color: #ffffff;
  font-size: 16px;
  margin-bottom: 15px;
}

footer {
  text-align: center;
  margin-top: 40px;
  color: #a77588;
}

@media only screen and (max-width: 600px) {
  body {
    padding: 10px;
  }

  h1 {
    font-size: 24px;
  }

  nav ul li {
    flex-basis: 50%;
    margin-bottom: 10px;
  }

  section h2 {
    font-size: 20px;
  }

  section h3 {
    font-size: 18px;
  }

  section p {
    font-size: 14px;
  }

  footer {
    font-size: 12px;
  }
}
a{
  color: #f177a6;
  text-decoration: none;
}
a:hover{
  color: #f177a6;
  text-decoration: none;
  filter: drop-shadow(0 0 0.313em #f177a6);
  transition: 0.3s;
}
.custom-scrollbar {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #f177a6;
  border-radius: 15px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #333333;
}

.custom-scrollbar::-moz-scrollbar {
  width: 10px;
}

.custom-scrollbar::-moz-scrollbar-thumb {
  background-color: #f177a6;
  border-radius: 15px;
}

.custom-scrollbar::-moz-scrollbar-track {
  background-color: #333333;
}
a .social {
  transition: transform 0.3s;
}
a .social:hover {
  transform: scale(1.2);
}
.center {
  font-size: 1.2em;
  margin: auto;
  width: 95%;
  padding: 1.5em;
  line-height: 1.8;

}

a {
  text-decoration: none;
}

.bg-color {
  --s: 50px;
  --c: #191b22;
  --_s: calc(2*var(--s)) calc(2*var(--s));
  --_g: 35.36% 35.36% at;
  --_c: #0000 66%,#4d353e 68% 70%,#0000 72%;
  background: 
    radial-gradient(var(--_g) 100% 25%,var(--_c)) var(--s) var(--s)/var(--_s), 
    radial-gradient(var(--_g) 0 75%,var(--_c)) var(--s) var(--s)/var(--_s), 
    radial-gradient(var(--_g) 100% 25%,var(--_c)) 0 0/var(--_s), 
    radial-gradient(var(--_g) 0 75%,var(--_c)) 0 0/var(--_s), 
    repeating-conic-gradient(var(--c) 0 25%,#0000 0 50%) 0 0/var(--_s), 
    radial-gradient(var(--_c)) 0 calc(var(--s)/2)/var(--s) var(--s) var(--c);
  background-attachment: fixed;
}

button {
  width: 8.5em;
  height: 2.5em;
  margin: 1.25em 0.625em;
  font-weight: 700;
  border: 0.125em solid #f177a6;
  cursor: pointer;
  border-radius: 1.563em;
  text-align: center;
  overflow: hidden;
  color: #f0f8ff;
  font-size: 1.25em;
  background: 0 0;
  position: relative;
}

span {
  width: 0;
  background: #f177a6;
  position: absolute;
  transition: 0.5s;
  left: 0;
  border-radius: 1.563em;
  z-index: -1;
}

iframe,
span {
  bottom: 0;
  height: 100%;
}

button:hover span,
iframe {
  width: 100%;
}

button:hover,
iframe {
  border: none;
}

input {
  appearance: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 2px solid #e8afc5;
  transition: 0.2s all linear;
  margin-right: 5px;
  position: relative;
}

input:checked {
  border: 5px solid #f177a6;
}
.unhoverable {
  pointer-events: none;
}
